* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #3b3b3b;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .color {
    list-style: none;
    margin: 15px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    background: rgb(229, 255, 231);
    box-shadow: 3px 5px 5px #020202;
    cursor: pointer;
    transition: transform .6s ease;
}

.container .color:hover {
    transform: scale3d(1.08, 1.07, 5);
}

.color .box {
    width: 195px;
    height: 198px;
    background: #AAAAAA;
}

.color:hover .box {
    filter: brightness(108%);
}

.color .value {
    margin: 10px 2px 1px;
    display: block;
    color: #464646;
    font-size: 1.2rem;
    font-weight: 650;
    text-transform: uppercase;
}

.refresh {
    position: fixed;
    left: 43%;
    bottom: 100px;
    padding: 10px 20px;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(5, 4, 4);
    background: #efffe4;
    box-shadow: 8px 8px 5px #020202;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: transform .5s ease;
}

.refresh:active {
    transform: translate(2%, 13%);
}

@media (max-width: 600px) {
    .color .box {
        width: 105px;
        height: 88px;
    }

    .refresh {
        left: 23%;
    }
}